@media screen and (max-width: 980px){
   .wrapper{
    width:100%;
    float:none;
    text-align:center;

   }    
}
@media screen and (max-width: 768px){
    .wrapper{
        width:100%;
    }
@media screen and (max-width: 480px){
    .wrapper{
            width:100%;
    }